<div class="container mt-5 pt-5">
    <section class="section" id="author">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>Author</h6>
                        <h2>Nikola Dimitrijevic</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row mt-2">
        <div class="col-lg-6 mt-5 pictur mb-2">
            <img class="pictur" src="../../assets/images/profil.jpg" alt="Nikola Dimitrijevic">
        </div>
        <div class="col-lg-6 mt-5 pt-5">
            <p> 
                Hello!
                My name is Nikola. I'm 24 years old. I'm coming from Serbia. I'm studying at ICT College of Applied Studies, finishing year of internet technology. I have great knowledge skills in C, Java, jQuery, JavaScript, PHP and C#. If you want to work with me, check my portfolio and cotact me.
            </p>
            <ul class="mt-3">
                <li>Email: nikola.dimitrijevic1505@gmail.com</li>
                <li>Number: 064-566-92-00</li>
                <li>Address: Milana Grola 5, Belgrade</li>
            </ul>
        </div>
    </div>
   
</div>
