<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>About Us</h6>
                        <h2>Short customer story</h2>
                    </div>
                    <p>Winter was just around the corner. It was my first time in the biggest coffee shop in town. I could see the cheerful and brilliant lighting of the shop as I walked across the vast parking lot. There were tables outside the shop each with a brown vintage style umbrella. This particular coffee shop is not a cafe, it’s a coffee shop literally. They sell the finest coffee from all over the world. It also has a book corner in the left hand side of the shop where we can buy books. They make very good coffee as well. This place is an ideal place for students and employees to release stress. As I made my way through the transparent glass door, a blanket of warm air hit me and the rich aroma of coffee which was delectable. The noise the customers made was immense which reminded me how popular a place this is.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb mt-5">
                        <img src="assets/images/about.jpg" alt="Image restaurant">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
